	body 
	{
		background-color: #445257
	}

	.weather-box {
		width: 800px;
		height: 800px;
		margin: 50 auto;
		background-color: rgb(126, 202,225);
		padding: 20px;
		border-radius: 5px;
		text-align: center;
		font-size: 1.5em;
		font-family: monospace;

	}

	.weather-box .info-panel {
		height: 40%;
		width: 100%;
		
	}

	.weather-box .weather-panel{
		height: 59%;
		width: 100%;
		
		position: relative;
	}

	.weather-box button {
		padding: 8px;
		margin: 25px 4px 8px 4px;
		font-size: .8em;
		background-color: #95A0A3;
	}
	.weather-box button:active {
		outline-color: red;
	}

	#sunrise-footer {
		margin-top: 5px;
		float: left;
		color: white;
	}

	#sunset-footer {
		margin-top: 5px;
		float: right;
		color: white;
	}

	.sun-times {
		margin-top: 40px;
		width: 800px;
		height: 250px;
		overflow-y: hidden;
		position: absolute;
		bottom: 0;
	}

	.sun-times .sun-path {
		margin-left: 25px;
		width: 750px;
		height: 500px;
		overflow: hidden;
		border: 2px dashed #999;
		border-radius: 50%;
	}

	.sun-animation {
		width: 0px;
        height: 300px;
        background-color: rgba(255, 255, 0, 0.4);
	}

	table {
		width: 100%;
	}

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		font-size: 1em;
		background-color: #95A0A3;
	}

	th, td {
		padding: 5px;
		text-align: auto;
	}