	
	.weather-box {
		width: 800px;
		height: 800px;
		margin: 50 auto;
		background-color: rgb(126, 202,225);
		padding: 20px;
		border-radius: 5px;
		text-align: center;
		font-size: 1.5em;
		font-family: monospace;

	}

	.weather-box .info-panel {
		height: 40%;
		width: 100%;
		background-color: red;
	}

	.weather-box .weather-panel{
		height: 50%;
		width: 100%;
		background-color: green;
		position: relative;
	}

	.weather-box button {
		padding: 8px;
		margin: 25px 4px 8px 4px;
		font-size: .8em;
		background-color: #95A0A3;
	}
	.weather-box button:active {
		outline-color: red;
	}

	#sunrise-footer {
		float: left;
	}

	#sunset-footer {
		float: right;
	}

	@keyframes bounceIn {
		0% {
			transform: scale(0.1);
			opacity: 0;
		}
		60% {
			transform: scale(1.2);
			opacity: 1;
		}
		100% {
			transform: scale(1);
		}
	}

	#sun {
		width: 100px;
		height: 100px;
		background-color: orange;
		border-radius: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		
	}

	.sun-times {
		margin-top: 40px;
		width: 800px;
		height: 250px;
		overflow-y: hidden;
		position: absolute;
		bottom: 0;
	}

	.sun-times .sun-path {
		margin-left: 25px;
		width: 750px;
		height: 500px;
		overflow: hidden;
		border: 2px dashed #999;
		border-radius: 50%;
	}

	.sun-animation {
		width: 0px;
		height: 300px;
		background-color: rgba(255, 255, 0, 0.4);
		-webkit-transition: width 2s ease-out;
		transition: width 2s ease-out;
	}

	.sun-symbol-path {
		position: absolute;
		color: yellow;
		text-shadow: 0 0 5px black;
		height: 400;
		-webkit-transition: -webkit-transform 2s linear;
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: rotateZ(-75deg);
		left: 425px;
		bottom: 0;

	}

	.sun-symbol-path .symbol {
		position: relative;
        font-size: 16px;
        top: -8px;
	}


	#cloud {

		animation-name: bounceIn;
		animation-duration: 2s; 
		animation-delay: 0;
		animation-iteration-count: 1;

	}

	#rain {
		opacity: 0;
		-moz-animation: bounceIn 2s 2s forwards; /* Firefox */
		-webkit-animation: bounceIn 2s 2s forwards; /* Safari and Chrome */
		-o-animation: bounceIn 2s 2s forwards; /* Opera */
		animation: bounceIn 2s 2s forwards;
	}

	table {
		width: 100%;
	}

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		font-size: 1em;
		background-color: #95A0A3;
	}

	th, td {
		padding: 5px;
		text-align: auto;
	}
